<div class="container">
  <div class="template">
    <h3>Case study for Evolent</h3>
  </div>
  <div>
    <h4>Application Details : </h4>
    <ul>
      <li>1. Simple Application in javascript framework.</li>
      <li>2. Data creation, data population in list, Updation, deletion.</li>
    </ul>
  </div>
  <div>
    <h4>Technologies : </h4>
    <ul>
      <li><u>Server Side (backtend) : </u>
          <p>1. NodeJs (V12.13.1).</p>
          <p>2. Express (server).</p>
          <p>3. Mysql database(currently used) / MONGODB.</p>
      </li>
      <li><u>UI side (frontend) : </u>
          <p>1. Angular 6 (HTML,CSS,Bootstrap-4).</p>
      </li>
    </ul>
  </div>
</div>

